
/* footer */
footer{
    background-color: $bg-footer;
    grid-area: footer;
/*     font-family: 'Shadows Into Light', cursive; */
    display: flex;
    gap: 30px;
    .info-pie{
        padding: 2%;
        p{
            padding: 1px;
            font-size: 25px;
            font-family:'Shadows Into Light', cursive;
        }
    }
}

$bg-redes-footer:(
    facebook:#3a5795,
    instagram:magenta,  
    twitter:lightblue,
    whatsapp:rgb(55, 230, 46)
);

@each $social,$color in $bg-redes-footer {
    .fondo-#{$social}{
        background-color:$color;
    }
}

#pie{
    .info-icons{
        div{
            i{
                width: 80px;
                height: 80px;
            }
        }
    }
}



#pie{
    .info-icons{
        @include flexs-center;
        align-items:center
    }
}



#pie{
    .info-icons{
        .fondo{
            i{
                @include flexs-center;
                align-items: center;
            }
        }
    }
}
